body {
  font-family: "Roboto", sans-serif;
  color: #2F303A;
}

img {
  display: block;
}

.list {
  text-decoration: none;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #000000;
}

.button {
  font-family: inherit;
  cursor: pointer;
}

:root {
  --brand-color: #2196F3;
  --dark-brand-color: #212121;
  --white-brand-color: #FFFFFF;
  --text-color: #757575;
  --border-color: #F5F5F5;
  --icons-grey-color: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --period: 250ms;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1, 1);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: transform var(--period) var(--cubic);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(0%, 0%) scale(0, 0);
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition-duration: var(--period);
  transition-timing-function: var(--cubic);
}
.modal__btn-close:hover .modal__icon--close, .modal__btn-close:focus .modal__icon--close {
  fill: var(--brand-color);
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  color: var(--dark-brand-color);
  margin-bottom: 12px;
  text-align: center;
}

.modal-form__item {
  margin-bottom: 10px;
}

.modal-form__item:last-child {
  margin-bottom: 20px;
}

.modal-form__name {
  display: inline-block;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px;
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
  outline: none;
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--brand-color);
}
.modal-form__label :focus-within > .modal-form__input, .modal-form__label:focus-within > .modal-form__input {
  border: 1px solid var(--brand-color);
  transition: var(--period) var(--cubic);
}

.modal-form__input--contact {
  height: 40px;
  padding-left: 42px;
}

.modal-form__input--comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}
.modal-form__input--comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__label,
.modal-form__input--comment {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.17;
  /* position: relative; */
}

.modal-form__box {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form__label--checkbox {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal-form__agreement {
  color: var(--brand-color);
  margin-left: 3px;
}

.modal-form__input--checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-form__icon--check {
  border: 2px solid var(--dark-brand-color);
  border-radius: 2px;
  margin-right: 9px;
}
.modal-form__input--checkbox:checked + .modal-form__icon--check {
  background-color: var(--brand-color);
  border: transparent;
}

.modal-form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-brand-color);
  background-color: var(--brand-color);
  display: block;
  margin: 0 auto;
  border-color: transparent;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: solid 2px #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list,
.header__link--contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.header-nav__list--menu {
  display: flex;
  gap: 50px;
  color: var(--dark-brand-color);
}

.header-nav__item {
  position: relative;
}

.header-nav__link--current-page {
  color: var(--brand-color);
}
.header-nav__link--current-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}

.header-nav__list--contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.header-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-nav__link--contacts {
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.header-nav__link {
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: var(--brand-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: flex;
}

.logo__color {
  color: var(--brand-color);
}

.logo__color--header {
  color: #000000;
  margin-right: 93px;
}

.logo__color--footer {
  color: var(--white-brand-color);
  margin-bottom: 20px;
  display: block;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-main {
  margin-right: 70px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
  display: flex;
}

.address__link {
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.address__link:hover, .address__link:focus {
  color: var(--brand-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link--map {
  color: var(--white-brand-color);
}

.address__link--contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-soc-links {
  margin-right: 93px;
}

.footer-soc-links__list {
  display: flex;
  gap: 10px;
}

.footer-soc-links__title,
.sign-up__title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-soc-links__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}

.footer-soc-links__link:hover,
.footer-soc-links__link:focus {
  background-color: var(--brand-color);
}

.sign-up-form {
  display: flex;
}

.sign-up-form__input {
  height: 50px;
  width: 358px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  margin-right: 12px;
  outline: none;
  color: var(--text-color);
}

.sign-up-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
}

.sign-up-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
}

.sign-up-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
}

.sign-up-form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-brand-color);
  background-color: var(--brand-color);
  border-color: transparent;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-brand-color);
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-brand-color);
  background-color: var(--brand-color);
  display: block;
  margin: 0 auto;
  border-color: transparent;
  border-radius: 4px;
  min-width: 216px;
  min-height: 50px;
}

.features__list {
  display: flex;
  width: calc(100% - 90px)/4;
  gap: 30px;
}

.features__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-brand-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.works {
  padding-top: 0;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-brand-color);
  margin-bottom: 50px;
}

.works__list {
  display: flex;
  gap: 30px;
}

.works__item {
  position: relative;
}

.works__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-brand-color);
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background: #F5F4FA;
}

.team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-brand-color);
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  width: calc((100% - 90px) / 4);
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.team-card__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-brand-color);
  margin-bottom: 10px;
}

.team-card__position {
  margin-bottom: 16px;
}

.team-card__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-card__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icons-grey-color);
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.team-card__link:hover, .team-card__link:focus {
  background-color: var(--brand-color);
  fill: #FFFFFF;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: solid 1px var(--icons-grey-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icons-grey-color);
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--brand-color);
  border-color: var(--brand-color);
}

.filter-menu__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-menu__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-brand-color);
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.filter-menu__button:hover, .filter-menu__button:focus {
  color: var(--white-brand-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  width: calc((100% - 60px) / 3);
}

.project-card {
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.project-card:hover, .project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__image {
  position: relative;
  overflow: hidden;
}

.project-card__text-hover {
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--period) var(--cubic);
}
.projects__item:hover .project-card__text-hover {
  transform: translateY(0%);
}

.project-card__description {
  border: 2px solid var(--border-color);
  border-top: hidden;
  margin-top: -1px;
  padding: 20px 24px;
}

.project-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-brand-color);
}

.project-card__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity var(--period) var(--cubic), visibility var(--period) var(--cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */