body {
  font-family: "Roboto", sans-serif;
  color: #2F303A;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  text-decoration: none;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #000000;
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

:root {
  --brand-color: #2196F3;
  --dark-brand-color: #212121;
  --white-brand-color: #FFFFFF;
  --text-color: #757575;
  --border-color: #F5F5F5;
  --icons-grey-color: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --period: 250ms;
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.modal {
  width: 97%;
  max-width: 450px;
  max-height: 609px;
  max-height: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1, 1);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: transform var(--period) var(--cubic);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(0%, 0%) scale(0, 0);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition-duration: var(--period);
  transition-timing-function: var(--cubic);
}
.modal__btn-close:hover .modal__icon--close, .modal__btn-close:focus .modal__icon--close {
  fill: var(--brand-color);
}

.modal__title {
  font-size: 16px;
  line-height: 1.15;
  color: var(--dark-brand-color);
  margin-bottom: 12px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .modal__title {
    font-size: 20px;
  }
}

.modal-form__item {
  margin-bottom: 10px;
}

.modal-form__item:last-child {
  margin-bottom: 5px;
}
@media screen and (min-width: 480px) {
  .modal-form__item:last-child {
    margin-bottom: 20px;
  }
}

.modal-form__name {
  display: inline-block;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px;
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
  outline: none;
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--brand-color);
}
.modal-form__label :focus-within > .modal-form__input, .modal-form__label:focus-within > .modal-form__input {
  border: 1px solid var(--brand-color);
  transition: var(--period) var(--cubic);
}

.modal-form__input--contact {
  height: 40px;
  padding-left: 42px;
}

.modal-form__input--comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}
.modal-form__input--comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__label,
.modal-form__input--comment {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.17;
  /* position: relative; */
}

.modal-form__box {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form__label--checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  font-size: 10px;
  line-height: 1.17;
  color: var(--text-color);
}
@media screen and (min-width: 480px) {
  .modal-form__label--checkbox {
    font-size: 12px;
    margin-bottom: 30px;
    letter-spacing: 0.03em;
    flex-wrap: nowrap;
  }
}

.modal-form__agreement {
  color: var(--brand-color);
  margin-left: 3px;
}

.modal-form__input--checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-form__icon--check {
  border: 2px solid var(--dark-brand-color);
  border-radius: 2px;
  margin-right: 9px;
}
.modal-form__input--checkbox:checked + .modal-form__icon--check {
  background-color: var(--brand-color);
  border: transparent;
}

.modal-form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-brand-color);
  background-color: var(--brand-color);
  display: block;
  margin: 0 auto;
  border-color: transparent;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
}

.header {
  border-bottom: solid 2px #ECECEC;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.mob-menu-btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .mob-menu-btn {
    display: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}

.header-nav__list,
.header__link--contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.header-nav__list {
  font-size: 14px;
}

.header-nav__list--contacts {
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-nav__list--contacts {
    font-size: 12px;
  }
}

.header-nav__list--menu {
  display: flex;
  gap: 50px;
  color: var(--dark-brand-color);
}

.header-nav__item {
  position: relative;
}

.header-nav__link--current-page {
  color: var(--brand-color);
}
.header-nav__link--current-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -31px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}
@media screen and (min-width: 1200px) {
  .header-nav__link--current-page {
    bottom: -33px;
  }
}

.header-nav__list--contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav__list--contacts {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav__list--contacts {
    display: flex;
    gap: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav__item--contacts:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-nav__link--contacts {
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.header-nav__link {
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: var(--brand-color);
}

.mob-menu {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100%;
  z-index: 1;
  padding: 48px 25px;
}
.mob-menu > .mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu__btn-close {
  border: transparent;
  border-radius: 50%;
  background-color: transparent;
  transition-duration: var(--period);
  transition-timing-function: var(--cubic);
  position: absolute;
  top: 10px;
  right: 15px;
}
.mob-menu__btn-close:hover .mob-menu__icon, .mob-menu__btn-close:focus .mob-menu__icon {
  fill: var(--brand-color);
}

.mob-menu-nav__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 50px;
}

.mob-menu-nav__item {
  margin-bottom: 32px;
}

.mob-menu-nav__link--current-page {
  color: var(--brand-color);
}

.mob-menu__list {
  margin-bottom: 32px;
}

.mob-menu__item:first-child {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.mob-menu__item:last-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.mob-menu__link--tel {
  color: var(--brand-color);
}
@media screen and (max-width: 479px) {
  .mob-menu__link--tel {
    font-size: 20px;
  }
}

.mob-menu__link--email {
  color: var(--text-color);
  margin-bottom: 64px;
}
@media screen and (max-width: 479px) {
  .mob-menu__link--email {
    font-size: 16px;
  }
}

.mob-menu__list-soc-links {
  display: flex;
}
@media screen and (max-width: 479px) {
  .mob-menu__list-soc-links {
    flex-wrap: wrap;
  }
}

.mob-menu__item-soc-links {
  padding-right: 10px;
}
.mob-menu__item-soc-links:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}

.mob-menu__link-soc-links {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: flex;
}

.logo__color {
  color: var(--brand-color);
}

.logo__color--header {
  color: #000000;
  margin-right: 93px;
}

.logo__color--footer {
  color: var(--white-brand-color);
  margin-bottom: 20px;
  display: block;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.container-footer {
  display: block;
}
@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__main-soc-links-box {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__main-soc-links-box {
    display: flex;
    align-items: baseline;
    max-height: 135px;
  }
}

.footer-main {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-main {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-main {
    margin-right: 70px;
    text-align: left;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
}

.address__link {
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.address__link:hover, .address__link:focus {
  color: var(--brand-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link--map {
  color: var(--white-brand-color);
}

.address__link--contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-soc-links {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.footer-soc-links__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-soc-links__title,
.sign-up__title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc-links__title,
.sign-up__title {
    text-align: left;
  }
}

.footer-soc-links__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}

.footer-soc-links__link:hover,
.footer-soc-links__link:focus {
  background-color: var(--brand-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-up {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up-form {
    display: flex;
  }
}

.sign-up-form__input {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: calc(100% - 30px);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  margin-bottom: 20px;
  outline: none;
  color: var(--text-color);
}
@media screen and (min-width: 480px) {
  .sign-up-form__input {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up-form__input {
    margin-right: 12px;
    height: 50px;
    width: 358px;
  }
}

.sign-up-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
}

.sign-up-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
}

.sign-up-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
}

.sign-up-form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-brand-color);
  background-color: var(--brand-color);
  border-color: transparent;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: #C4C4C4;
  background-image: var(--bg-gradient), url(../images/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-tablet-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--bg-gradient), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-2x.jpg);
  }
}

.hero__title {
  display: block;
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-brand-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-brand-color);
  background-color: var(--brand-color);
  display: block;
  margin: 0 auto;
  border-color: transparent;
  border-radius: 4px;
  min-width: 216px;
  min-height: 50px;
}

.features__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  display: block;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__icon-box {
  display: flex;
  background-color: #F5F4FA;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  position: relative;
}

.features__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-brand-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__description {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.works {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .works {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-brand-color);
  margin-bottom: 50px;
}

.works__list {
  display: flex;
  gap: 30px;
}

.works__item {
  position: relative;
}

.works__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-brand-color);
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background: #F5F4FA;
}

.team__title,
.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-brand-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title,
.clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: block;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.team-card__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-brand-color);
  margin-bottom: 10px;
}

.team-card__position {
  margin-bottom: 16px;
  text-align: center;
}

.team-card__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-card__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icons-grey-color);
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.team-card__link:hover, .team-card__link:focus {
  background-color: var(--brand-color);
  fill: #FFFFFF;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  justify-content: center;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  height: 92px;
  border: solid 1px var(--icons-grey-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icons-grey-color);
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--brand-color);
  border-color: var(--brand-color);
}

.filter-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-menu__list {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-menu__list {
    margin-bottom: 50px;
  }
}

.filter-menu__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-brand-color);
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.filter-menu__button:hover, .filter-menu__button:focus {
  color: var(--white-brand-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .projects__item {
    width: calc((100% - 30px) / 2);
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 60px) / 3);
  }
}

.project-card {
  transition-timing-function: var(--cubic);
  transition-duration: var(--period);
}
.project-card:hover, .project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__image {
  position: relative;
  overflow: hidden;
}

.project-card__text-hover {
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--period) var(--cubic);
}
.projects__item:hover .project-card__text-hover {
  transform: translateY(0%);
}

.project-card__description {
  border: 2px solid var(--border-color);
  border-top: hidden;
  margin-top: -1px;
  padding: 20px 24px;
}

.project-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-brand-color);
}

.project-card__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.project-card__text--span {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1999px) {
  .project-card__text--span {
    display: inline;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: transparent;
  }
}
@media screen and (min-width: 1200px) {
  .project-card__text--span {
    display: none;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity var(--period) var(--cubic), visibility var(--period) var(--cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */