.section-team {
    background: #F5F4FA;
}

.team__title,
.clients__title {
    font-weight: 700;
    
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-brand-color);
    margin-bottom: 30px;
    

    @include desktop {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.team__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team__item {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    display: block;
    flex-wrap: wrap;
    gap: 30px;

    @include tablet {
        width: calc((100% - 30px) / 2);
    
    }
    
    @include desktop {
        width: calc((100% - 30px * 3) / 4);
    
    }
}