body {
    font-family: 'Roboto',
        sans-serif;
    color: #2F303A
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    width: 100%;
}

.list {
    text-decoration: none;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #000000;
}

.button {
    font-family: inherit;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}
