:root {
    --brand-color: #2196F3;
    --dark-brand-color: #212121;
    --white-brand-color: #FFFFFF;
    --text-color: #757575;
    --border-color: #F5F5F5;
    --icons-grey-color: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --period: 250ms;
    --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}